{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [ "src/**/*" ]
    }],
    "no-return-assign": ["error", "except-parens"]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
